@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;700&family=Poppins:wght@200;300;600&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {

    /* ========== HEADER SIZE (h) ========== */
    --header-height: 3.5rem;

    /* ========== TEXT, CONTAINER, AND BODY COLORS ========== */
    --fsize-nav: 0.625rem;
    --fsize-h1: 7.5rem;
    --fsize-h2: 6rem;
    --fsize-h3: 4rem;
    --fsize-body: 2rem;
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 70%);
    --text-color-light: hsl(0, 0%, 60%);
    --body-color: hsl(0, 0%, 0%);
    --container-color: hsl(0, 0%, 8%);

    /* ========== FONT AND TYPOGRAPHY ========== */
    --body-font: 'Poppins', sans-serif;
    --second-font: 'Lato', sans-serif;
    --biggest-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .940rem;
    --small-font-size: .815rem;
    --smallest-font-size: .75rem;

    /* ========== FONT WEIGHT ========== */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /* ========== GUTTERS OR ALLEYS (spacing between contents) ========== */
    --gutter-xx-small: 2rem;
    --gutter-x-small: 3rem;
    --gutter-small: 4rem;
    --gutter-medium: 6rem;
    --gutter-large: 8rem;
    --gutter-xLarge: 10rem;
    --gutter-insane: 20rem;

}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--second-font);
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--body-color);
    background-image: url("https://images.unsplash.com/photo-1635776062360-af423602aff3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80");
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: var(--font-size);
}

a:hover {
    color: #5E948E;
}

/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 3.75rem;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggleBtn {
    color: #f2f2f2;
    font-size: 1.5rem;
    cursor: pointer;
}

.getStartedBtn {
    background-color: #5E948E;
    padding: 0.5rem 1rem;
    color: #f2f2f2;
    border: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.6) 1px 2px 5px;
}

.getStartedBtn:hover {
    scale: 1.05;
    color: #f2f2f2;
    transition: 0.5s;
}

.getStartedBtn:active {
    scale: 0.95;
}

/* DROPDOWN MENU */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .getStartedBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* RESPONSIVENESS */
@media(max-width: 992px) {
    .navbar .links,
    .navbar .getStartedBtn {
        display: none;
    }

    .navbar .toggleBtn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}